<div class="main_page">
    <br /><br />
    <div class="frosty col-10 offset-1 text-center">
        <br />
        <h1>Each Project is a new road, Tackle it wisely.</h1>
        <br />
        <%= link_to 'Tackle Your First Project', new_project_path, class: 'btn btn-secondary' %>
        <br /><br />
    </div>
</div>